/*
CSS used from ACM site
https://github.com/MiltonChung/UCSC-ACM-Website/blob/16d6f7384f42042ff1d8d1e309522b7909460c7b/src/styles/main.scss
*/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/*Color Pallete and Font Families*/
:root {
  --acm-pink: #ea526f;
  --acm-black: #070600;
  --acm-white: #f7f7ff;
  --acm-blue: #0093d0;
  --acm-yellow: #ffbb43;
  --acm-gray: #ececf6;
  --acm-green: #89f688;
  --acm-font: "Oswald", sans-serif;
  --acm-secondary-font: "Lato", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-logo {
  height: 10vmin;
}
.App {
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
}

.App .navbar {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--acm-gray);
}

.App .navbar .nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.App .navbar .nav-links>a{
  text-decoration: none;
}

.title{
  text-align:center;
  font-weight: 600;
  font-size: 96px;
  color: var(--acm-black);
}
@media only screen and (max-width: 500px) {
  .title {
    font-size:48px;
 }
}
.subtitle{
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 1rem 0 2rem;
  color: var(--acm-black);
}
.description{
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: var(--acm-black);
}

h1,h2,h3,h4,h5,h6 {
	font-family: var(--acm-font);
}
h2 {
	font-size: 64px;
	line-height: 45px;
	font-weight: 600;
}
h3 {
	font-size: 48px;
	line-height: 35px;
	font-weight: 600;
}

p,a,button,small {
	font-family: var(--acm-secondary-font);
}

a {
	color: var(--acm-blue);
	transition: all 0.25s;
}
a:active {
	color: var(--acm-black);
}
a:hover {
	color: var(--acm-pink);
}

button,
a.button {
	width: fit-content;
	border-radius: 50px;
	outline: none;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.bold {
	font-weight: bold;
}
.font-blue {
	color: var(--acm-blue);
}
.italicize {
	font-style: italic;
}

/*Buttons*/
a.join {
	font-size: 33px;
	font-weight: 400;
	text-align: center;
	padding: 1rem 4rem;
	background: var(--acm-gray);
	border: 5px var(--acm-gray solid);
	box-shadow: 2px 4px 20px 0px rgba(80, 80, 80, 0.637);
	margin-top: -2.5rem;
	text-decoration: underline;
	color: var(--acm-pink);
	transition: all 0.5s;

	@media only screen and (max-width: 768px) {
		border: 5px var(--acm-gray) solid;
		padding: 0.5rem 3rem;
		font-size: 27px;
		margin-top: -2rem;
	}
}
a.join:hover {
	background: var(--acm-pink);
	color: var(--acm-gray);
	border: 5px var(--acm-white) solid;
}

.apply{
  width:80%;
  height:100px;
  padding-top:100px;
  margin:auto;
}

.window-card {
  width: 60vw;
  min-height: 500px;
  height: fit-content;
  background: var(--acm-gray);
  border-radius: 20px;
  box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin: 3rem 0;
  z-index: 2;
}
.window-card-top-menu {
  height: 65px;
  background: var(--acm-black);
  display: flex;
  align-items: center;
  padding-left: 1.2rem;
}
.window-card-texts {
  padding: 1.5rem;
}
.window-card-texts-title {
  margin-bottom: 1.5rem;
  position: relative;
  width: fit-content;
  line-height: 50px;
}
.window-card-texts-title img {
  position: absolute;
  right: -20px;
  bottom: -18px;
}
.window-card-texts-body {
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
}
.window-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  margin-bottom: 1rem;
  height:100%; /*make it so the button padding doesn't cause the button to move*/
}
.window-card-button a {
  background: var(--acm-white);
  font-size: 33px;
  font-weight: 400;
  color: var(--acm-pink);
  padding: 0.5rem 3rem;
  border: 3px var(--acm-pink) solid;
  transition: all 0.5s;
  text-decoration: none;
  box-shadow: 3px 3px 7px rgba(7, 6, 0, 0.25);
}
.window-card-button a:hover {
  color: var(--acm-white);
  background: var(--acm-pink);
}
@media only screen and (max-width: 768px) {
  .window-card {
    width: 88%;
 }
}
@media only screen and (max-width: 500px) {
  .window-card {
    width: 93%;
    min-height: fit-content;
    height: fit-content;
 }
  .window-card-top-menu {
    height: 40px;
    padding-left: 1.4rem;
 }
  .window-card-texts {
    padding: 1.5rem 1.1rem;
 }
  .window-card-texts-title {
    font-size: 45px;
    margin-bottom: 1rem;
 }
  .window-card-texts-title img {
    right: 0px;
 }
  .window-card-texts-body {
    font-size: 18px;
    line-height: 28px;
 }
  .window-card-button {
    margin-top: 0rem;
    margin-bottom: 1.5rem;
 }
  .window-card-button a {
    font-size: 24px;
    padding: 0.5rem 2rem;
    border: 2px var(--acm-pink) solid;
    transition: all 0.5s;
 }
}
